body {
	background-color: blue;
	color: white;
}

h1 {
	font-family: "Arial"
}

h2 {
	color: cyan;
	background-color: purple;
}

footer {
	size: 8 px;
	color: black;
	background-color: rgba(117, 190, 218, 0.5);
	text-align: center;
}
